.tab-two-header{
    text-align: center;
}
.bt-food-item-img{
    max-height: 16vh;
    max-width: 16vh;
    overflow: hidden;
    padding-left: 2vh;
}
.bt-food-item-img-lable{
    max-height: 16vh;
    max-width: 16vh;
    overflow: hidden;
}
.bt-food-item-details-label{
    max-height: 16vh;
    max-width: 16vh;
    overflow: hidden;
    font-size: small;
      
}
.item-div{
    width: 22vh;
    height: 16vh;
    margin-top: 5vh;
    // border: inset 2px;
}

.menu-description{
    text-align: justify;
}

.list-header{
    text-align: center;
    font-size: medium;
    font-weight: bold;
}